<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
        <div class="container">
            <div class="row">
                {% comment %} heading {% endcomment %}

                <div class="col-md-10 my-5">
                    <h1 class="text-center">Welcome to College Record System</h1>
                </div>

                {% comment %} teachers records {% endcomment %}
                <div class="col-md-10 p-3">
                    <h3 class="d-inline">Teachers Record</h3> 
                    <span class="float-end">
                      <a href='{% url "create-teacher" %}' class="btn btn-outline-info my-2">Add Teachers</a>
                    </span>


                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{teacher.name}}</td>
                                <td>{{teacher.email}}</td>
                                <td>{{teacher.subject}}</td>
                                <td>{{teacher.experience}}</td>

                                  <td>
                                    <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-sm btn-warning">update</a>
                                  
                                    <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-sm btn-danger">Delete</a>
                                  </td>
                            </tr>
                        {% endfor %}
                      
                  </table>  
                </div>

                {% comment %} students record {% endcomment %}

                <div class="col-md-10 p-3">
                    <h3 class="d-inline">Students Record</h3> <span class="float-end"><button>Add Students</button></span>


                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{student.name}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.age}}</td>
                            <td>{{student.gender}}</td>
                        </tr>
                    {% endfor %}
                  </table>  
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>