<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-sm-11 "><h1 class="">Welcome to Student Management</h1></div>
            <div class="col-md-10 col-sm-12">

                {% comment %} link to redirect to student {% endcomment %}
                <a href="{% url 'create-student' %}"class="btn btn-sm btn-success float-end my-4">Add students</a>
                  

                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">SR.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">contact</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                        {% for student in student_list %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{student.name}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.contact}}</td>
                            <td>{{student.age}}</td>
                            <td>{{student.gender}}</td>
                            <td>
                              <a href="{% url 'update-student' student.id %}" class="btn btn-sm btn-warning">update</a>
                            
                              <a href="{% url 'delete-student' student.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>

