<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-5">

          <form method="post" action="{% url 'homepage' %}">
            {% csrf_token %}
        
            <div class="mb-3">
              <label for="task_name" class="form-label">Enter your task</label>
              <input type="text" class="form-control" id="task_name" name="task_name" required>
            </div>
                      
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <hr class="fs-1">
          <h5 class="">Your Tasks</h5>
          <hr>
          {% comment %} we will show our task {% endcomment %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">SR.No</th>
                <th scope="col">Task Name</th>
                <th scope="col">Task Id</th>
                <th scope="col">Date Time</th>
              </tr>
            </thead>
            <tbody>
              {% for item in all_tasks %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{item.task_name}}</td>
                  <td>{{item.id}}</td>
                  <td>{{item.date}}</td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
          
          {% comment %} {% for item in all_tasks %}

              <h4 class="text">{{forloop.counter}} {{item}}  {{item.date}}</h4>

          {% endfor %} {% endcomment %}

        </div>
        
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>